/* Estilos generales */

.flex-container {
  display: flex;
}

.text-white {
  color: #fff;
}

/* Contenedores específicos */

.container-main {
  flex: 2;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  border-right: 1px solid #ddd;
}

.container-chat {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-profiles {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 15px;
  border-right: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

/* Elementos dentro de los contenedores */

.profile-card {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  font-size: 0.8rem;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.profile-card img {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.follow-button {
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  transition: 0.3s ease background-color, 0.3s ease color;
}

.follow-button:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: red;
  color: red;
}

/* Otras clases */

.full-height {
  height: 100%;
}
